{% extends "restaurant/base.html" %}
{# テンプレートの継承を行う #}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
{% endblock %}

{% block main %}
<div class="row m-0">
    <div class="col">
        <div id="map"></div>
    </div>
    <div class="col">

        <h2>店舗新規作成</h2>

        {# TIPS: enctype="multipart/form-data"　が無いと画像をセットしてもアップロードされない。 #}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-inline">
                <select class="form-control" name="category">
                    <option value="">店舗のカテゴリ</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <input class="form-control" type="text" name="name" placeholder="店舗名">
            </div>

            <textarea class="form-control" name="description" placeholder="店舗紹介文" maxlength="2000"></textarea>

            <div class="form-inline">
                <select class="form-control" name="prefecture">
                    {% for p in prefectures %}
                    <option value="{{ p }}">{{ p }}</option>
                    {% endfor %}
                </select>
                <input class="form-control" type="text" name="city" placeholder="市">
                <input class="form-control" type="text" name="address" placeholder="町・番地">
            </div>

            <input class="form-control-file" type="file" name="image">

            <div class="form-inline">
                <input class="form-control" id="lat_input" type="text" name="lat" placeholder="緯度" readonly>
                <input class="form-control" id="lon_input" type="text" name="lon" placeholder="経度" readonly>
            </div>

            <input class="btn btn-outline-primary" type="submit" value="送信">

        </form>

    </div>

</div>

<script>
    //マップの表示位置を指定(緯度・経度)
    var map = L.map('map').setView([34.6217684, -227.2109985], 9);

    //予めグローバル変数として定義しておく
    var marker;

    //地図データはOSMから読み込み
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    //マウスクリックで緯度と経度の取得とポイント設置
    function onMapClick(e) {

        //マーカーの指定があれば消す
        if (marker){
            map.removeLayer(marker);
        }

        marker = L.marker(e.latlng).addTo(map);

        console.log(e.latlng);
        $("#lat_input").val(Math.round(e.latlng["lat"]*1000000)/1000000);
        $("#lon_input").val(Math.round(e.latlng["lng"]*1000000)/1000000);
    }
    map.on('click', onMapClick);
</script>

{% endblock %}
